/* font-family: 'Inika', serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */
@font-face {
    font-family: "Inika";
    src: url("./assets/fonts/Inika/Inika-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inika";
    src: url("./assets/fonts/Inika/Inika-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/static/Inter-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/static/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/static/Inter-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html,
body{
    scroll-behavior: smooth;
}

button {
    padding: 0;
}

body {
    /* background-color: #EDF2EC; */
    background-color: rgba(237, 242, 236, 1);
    width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    
}


.body-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header {
    color: rgba(1, 2, 1, 1);
}


.header,
.section-welcome,
.section-about {
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.section-welcome{
/* margin-bottom: -8px; */
}

.section-about{
    background-color: rgba(255, 255, 255, 1)
    /* margin-top: 4px; */
    
}


.header {
    width: 1440px;
    height: 134px;
    font-family: 'Inika', serif;
    font-size: 1rem;
    font-weight: 400;

}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.header-logo__img {
    width: 20px;
    height: 20px;
    margin-left: 111px;
}

.header-logo__title {
    text-align: center;
    padding-bottom: 8px;
    /* color: rgba(1, 2, 1, 1); */
}

/* .nav {
    color: rgba(1, 2, 1, 1);
} */

.nav-list {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    margin-right: 86px;
}

.nav-list__item {
    list-style: none;
    padding: 10px 23.5px;
}

.nav-list__link {
    text-decoration: none;
    color: #010201;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 15px;
    padding: 5px 20px;
    margin: 0 -20px;
    transition: all 1s;
}

.nav-list__link:hover {
    background-color: #499A18;
    color: #EDF2EC;
}

.nav-list__link.active {
    color: #E06733;
    font-weight: 700;
}

.nav-list__link.active:hover {
    background-color: inherit;
}



.section-welcome--container {
    display: flex;
    justify-content: space-between;
    padding: 62px 109px;
    align-items: center;

}

.section-about--container {
    display: flex;
    justify-content: space-between;
    padding: 93px 109px;
}


.leafs {

    width: 449px;
    height: 407px;
}

.section-welcome--content {
    width: 549px;
    height: 342px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h1 {

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    /* or 111% */
    margin: 2px 0;
    color: #717171;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
    /* or 175% */
    /* margin: 48px 0; */
    color: #636060;
}

.section-welcome--text{
    line-height: 35px;
   
}


.h1-mainWord--color {
    color: #499A18;
}

.section-welcome--text {}

.btn-learnMore {
    display: block;
    font-family: 'Inter', sans-serif;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    color: #000000;
    text-align: center;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
}

.section-about--content {
    width: 605px;
    height: 350px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin: 0;
    margin-top: 3px;
}

.h2-specialWords{
    color: #E06733;
}

.section-about--text {
    margin: 0;
    margin-bottom: -5px;
    font-family: 'Inter';
    /* font-weight: 400; */
    /* font-size: 20px; */
    line-height: 30px;        /* or 150% */
    /* color: #636060; */
}

.houseplant1 {
    width: 464px;
    height: 479px;
}

.section-service{
    padding: 40px 109px;
}

.section-service--container{
    display: flex;
    flex-direction: column;
}

.section-service--heading{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
    
    /* padding: 40px 109px; */
}

.section-service--h2{
    
    margin-right: calc(157px - 17px);
    
}

.service-btn{
    width: 161px;
    height: 50px;
    margin: auto 17px;
    font-family: 'Inika';

font-weight: 400;
font-size: 20px;
line-height: 26px;     /* identical to box height */
color: #E06733; 
border: 1px solid rgba(224, 103, 51, 1);
border-radius: 5px;

}

.service-items--container{
    display: flex;
    flex-wrap: wrap;
    margin: auto -58px;
    
}

.service-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 330px;
    height: 450px;
    margin: 28px 58px;

}

.service-item--img{
    
    width: 329px;
    height: 350px;

}

.h3{
    font-family: 'Inter';
font-weight: 700;
font-size: 20px;
line-height: 20px;/* or 100% */
text-align: center;
color: #E06733;

margin: 10px 0;
}

.service-item--text{
    font-family: 'Inter';
font-weight: 400;
font-size: 16px;
line-height: 20px;   /* identical to box height, or 125% */
color: #717171;
margin: 4px 0;

}