/* font-family: 'Inika', serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */
@font-face {
    font-family: "Inika";
    src: url("./assets/fonts/Inika/Inika-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inika";
    src: url("./assets/fonts/Inika/Inika-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/static/Inter-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/static/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/static/Inter-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

:root {
    --primary-color: #000000;
    
    --second-color: #010201;
    --green-color: #499A18;
    
    --background-grey: #EDF2EC;
    
    --orange-color: #E06733;
    --h1--color: #717171;
    --p-color: #636060;
    
    
}

* {
    box-sizing: border-box;
}

html,
body {
    
    margin: 0;
    scroll-behavior: smooth;
    
}

body {
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: var(--background-grey);
}


.header,
.main {

    
}


 .header,
 .h2,
 .service-btn {
    font-family: 'Inika', serif;
    font-weight: 400;
 }


.header {


    
    
    font-size: 16px;
   
}

.main,
p,
.h3,
.service-item--text {
    font-family: 'Inter', sans-serif;

}




.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 109px;
}




.btn {
    padding: 0;
    text-align: center;
}



/* =================================================== */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}


.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    line-height: 21px;
    color: var(--primary-color)
}


.header-logo--img {
    width: 20px;
    height: 20px;
    margin-left: 2px;
}


.header-logo--title {
    text-align: center;
    padding-bottom: 6px;

}

.nav {
    line-height: 50px;
    /* identical to box height, or 312% */
    color: var(--second-color);
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -23.5px;
}

.nav-list--item {
    list-style: none;
    padding: 10px 23.5px;
}

.nav-list--link {

    text-decoration: none;
    color: var(--second-color);
    border-radius: 15px;
    padding: 5px 20px;
    margin: 0 -20px;
    transition: all 1s;
}


.nav-list--link:hover,
.section-welcome--btn:hover {
    background-color: var(--green-color);
    color: var(--background-grey);
}



.nav-list--link.active {
    color: var(--orange-color);
    font-weight: 700;
}

.nav-list--link.active:hover {
    background-color: inherit;

}


/* ====================================================== */

.welcome {
    margin: 0 -109px;
    padding: 0 109px;
    
}

.section-welcome--container {
    padding-top: 62px;
    padding-bottom: 59px;

    display: flex;
    justify-content: space-between;
    
    align-items: center;
    margin-left: -4px;

}



.section-welcome--img {

    
    width: 36.7%;

   
}

.section-welcome--content {
    width: 44.76%;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.h1 {
    color: var(--h1--color);
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    /* or 111% */
    
    margin-top: 0;
    margin-bottom: 24px;


}

.h1-mainWord--color {
    color: var(--green-color);
}

p {


    font-weight: 400;
    font-size: 20px;
    
    color: var(--p-color);
    

}

.section-welcome--text {
    line-height: 35px;
    /* or 175% */
}

.section-welcome--btn {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;     /* or 125%  */
    color: var(--primary-color);
    width: 158px;
    height: 44px;
    border: 2px solid var(--orange-color);
    border-radius: 10px;
    margin-top: auto;
    transition: all 1s;
    font-family: inherit;
}

/* ============================================= */

.about {
    background: #ffffff;
    margin: 0 -109px;
    padding: 0 109px;

}

.section-about--container {
display: flex;
justify-content: space-between;
padding-top: 94px;
padding-bottom: 93px;
}

.section-about--content {

    width: 49.9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -4px;
    
    

}

.h2,
.h2-specialWords {
    
    font-size: 40px;
    line-height: 52px;
    
   
}

.h2 {
     color: var(--green-color);
    
}

.section-about--h2 {
    margin-top: auto;
    margin-bottom: 18px;
    
    
}

.h2-specialWords {
color: var(--orange-color);
}


.section-about--text {

 line-height: 30px;
/* or 150% */

margin-top: 20px;
margin-bottom: auto;


}

.section-about--img {
width: 37.97%;
margin-top: -4px;

}

/* ============================================== */


.service {

}

.section-service--container {
display: flex;
flex-direction: column;

}

.section-service--heading {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 18px;
}

.section-service--h2 {
    margin-right: calc(157px - 17px);
   
}

.section-service--buttons {

}

.service-btn {
    width: 161px;
    height: 50px;
    border: 1px solid var(--orange-color);
    border-radius: 5px;
    color: var(--orange-color);
    font-size: 20px;
line-height: 26px;
margin: 0 17px;
}

.service-items--container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -58px;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% / 3 - 116px);
    height: 450px;
    margin: 28px 58px;
}

.service-item--img {

}

.h3 {
    
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    
    text-align: center;
    color: var(--orange-color);
    margin: 10px auto;
}

.service-item--text {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: var(--h1--color);
    margin: 4px auto;
}


